<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/de2e58e297.js" crossorigin="anonymous"></script>
<script src="home.js"></script>
<title>CrossTone</title>
    <link rel="stylesheet" href="Styles.css">
</head>
<body>
    <body class="bg-white">
        <!-- navbar -->
        <section
        class="relative bg-[url(https://images.unsplash.com/photo-1604014237800-1c9102c219da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)] bg-cover bg-center bg-no-repeat"
      >
      <div
        class="absolute inset-0 bg-white/75 sm:bg-transparent sm:bg-gradient-to-r sm:from-white/95 sm:to-white/25 px-5"
      ></div>
        <header class="text-black-600 body-font relative">
            <div class="container mx-auto  flex flex-wrap p-0 flex-col md:flex-row items-center">
              <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
               <div>
                <a class="flex title-font font-medium text-gray-900 justify-start ">
                    <img class="h-28 w-28  justify-start" src="logo (2).ico">
                   </a>
                </div>
    
              </a>
              <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
                <a class="mr-5  text-gray-900 hover:text-gray-800 cursor-pointer" href="#about-us">About us</a>
                <a class="mr-5 hover:text-gray-900 cursor-pointer" href="#project">Our Projects</a>
                <a class="mr-5 hover:text-gray-900 cursor-pointer" href="#our-services">Our Services</a>
                <a class="mr-5 hover:text-gray-900 cursor-pointer"href="#contact-us">Contact us</a>
              </nav>
              <a href="signin.html">
              <button class="text-white bg-red-600 border-0 py-2 px-8 focus:outline-none hover:bg-red-500 rounded text-lg">Sign in</button>
              </button>
            </a>
            </div>
          </header>
          <div
          class="relative mx-auto my-20 max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
        >
          <div class="max-w-xl text-center sm:text-left">
            <h1 class="text-3xl font-extrabold sm:text-5xl">
              We Build Your
              
      
              <strong class="block font-extrabold text-rose-700">
                Dream Project
              </strong>
            </h1>
      
            <p class="mt-4 max-w-lg sm:text-xl sm:leading-relaxed ml-5">
              We make your dreams come true​. We are all the construction of a story & it is only at the end that we can assess the value of the plot. Create with the heart build with the mind.
            </p>
      
            <div class="mt-8 flex flex-wrap gap-4 text-center">
              <a
                href="#"
                class="block w-full ml-20  rounded bg-rose-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-rose-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto justify-center items-center mx-auto"
              >
                Get Started
              </a>

            </div>
        </div>
      </div>
    </section>
    <section class="mb-4">
        <h2 class="why">Why <span style="text-decoration: underline;">Choose</span> <span style="color: rgb(190, 16, 16);"> Us?</span> </h2>
      </section>


      <!-- why us? -->
      

    <div class="container px-2 py-4 ">
        <!-- <h2 class="pb-2">Why <span style="text-decoration: underline;">Choose</span> <span style="color: rgb(237, 25, 25);"> Us?</span> </h2> -->

    
        <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5 why-us">
          <div class="col d-flex flex-column align-items-start gap-2">
            <img src="whyus.jpg" height="700px" width="800px">
          </div>
    
          <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-left justify-content-md-start  bg-gradient fs-4 rounded-3">
                 <img src="wifi.png" height="25px" width="25px">
                </div>
                <h4 class="fw-semibold mb-0">Our Live tracking System</h4>
                <p class="text-muted">We have a Live Tracking system to track and moniter ur project from everywhere .</p>
              </div>
    
             
    
              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-left justify-content-md-start   bg-gradient fs-4 rounded-3">
                    <img src="vision.png" height="25px" width="25px">
                </div>
                <h4 class="fw-semibold mb-0">Our Vision</h4>
                <p class="text-muted">Our vision is to make the best civil consulting plans in the nicest possible way and provid our clients best Services.</p>
              </div>
              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-left justify-content-md-start  bg-gradient fs-4 rounded-3">
                    <img src="target.png" height="25px" width="25px">
                </div>
                <h4 class="fw-semibold mb-0">Our Mission</h4>
                <p class="text-muted">Is to form parternship resulting in innovative, cost-effective, and quality construction, excedding our customers expection in a safe environment.</p>
              </div>
    
              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-left justify-content-md-start  bg-gradient fs-4 rounded-3">
                    <img src="house.png" height="25px" width="25px">
                </div>
                <h4 class="fw-semibold mb-0">Our Designs</h4>
                <p class="text-muted">We have Extremely Stunning designs build by our Professional workers and the Projects are sustainably builts.</p>
              </div>
            </div>
          </div>
        </div>
      </div>


<!-- services -->
<section class="mb-4 mt-4">
    <h2 class="why">Our<span style="text-decoration: underline;" id="our-services"> Services</span></h2>
  </section>
  <br>
<br>
<br>

<!-- <section class="m-5">
    <div>
    <h2 class="service">Our Services</h2>
  </div>
  </section> -->
<div class="row featurette service " id="our-services" style="background-color: black; color: white;">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1" style="font-size: 1.5rem;"><br>Interior Designing.</h2>
      <p class="lead"><br>As a full-service Interior Designer, CROSSSTONE can provide everything from the smallest redesign to the largest build. No matter what you’re planning, they’ll be there every step of the way.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto slide-in-left"src="id.jpg" width="450" height="400" >
      <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="350" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
    </div>
  </div>
  <br>
  <br>
  <div class="row featurette services">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1" style="font-size: 1.5rem;"><br>Floor Plans.</h2>
      <p class="lead  ml-5"><br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus eaque reiciendis repudiandae. Earum fuga quis laborum alias iusto dolorem ea, ipsa dolor voluptas non quaerat expedita necessitatibus ex quod? Nisi..</p>
    </div>
    
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto slide-in-right"src="fp.jpg" width="450" height="400" >
    </div>
    <br>
    <br>
    
    
    <div class="col-md-7 order-md-2  " style="background-color: black; color: white;">
        <br>
        <br>
        <h2 class="featurette-heading fw-normal lh-1 " style="font-size: 1.5rem;"><br>3D Elevation.</h2>
        <p class="lead"><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt hic ducimus excepturi modi sint at cupiditate culpa reiciendis, quae officiis recusandae amet ipsum sequi aspernatur consequatur a necessitatibus veniam? Sunt?..</p>
      </div>
      <div class="col-md-5 order-md-1"style="background-color: black; color: white;">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto slide-in-left"src="3D.jpg" width="450" height="400" >
      </div>
    </div>
    <br>
    <br>
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1 " style="font-size: 1.5rem;"><br>Project Management.</h2>
        <p class="lead ml-5"><br>We come up with innovative engineering solutions across a variety of industries. Our advanced engineering services, including Construction Surveying, Building Planning and Bridge Designs, are thoughtfully designed to provide efficient and sustainable solutions and results. Learn more about our services here.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto slide-in-right"src="pm.jpg" width="450" height="400" ><br>
      </div>
  </div>
  <div class="row featurette service" style="background-color: black; color: white;">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1" style="font-size: 1.5rem;"><br><br>Construction.</h2>
      <p class="lead"><br>Whether you’re looking for help with something minor or need an experienced professional to take on a larger scale project, we can handle it all. we offer top-notch work at fair and competitive prices. Contact me today for a quote.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto slide-in-left"src="con.jpg" width="450" height="400" >
      <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="350" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
    </div>
  </div>
  

  <!-- happy customers -->
  <section class="mb-4 mt-6 cust">
    <h2 class="why m-12">Our Happy customers</span></h2>
  </section>
  <div class="container my-18 px-6 mx-auto ">

    <!-- Container for demo purpose -->
    <div class="container my-18 px-6 mx-auto">
    
      <!-- Section: Design Block -->
      <section class="mb-32 text-gray-800 text-center">
    
        <!-- <h2 class="text-3xl font-bold mb-12">Our Happy Customers</h2> -->
    
        <div id="carouselExampleCaptions" class="carousel slide relative carousel-dark" data-bs-ride="carousel">
          <div class="carousel-inner relative w-full overflow-hidden">
            <div class="carousel-item active relative float-left w-full">
              <img class="rounded-full shadow-lg mb-6 mx-auto"
                src="profile.jpg" alt="avatar" style="width: 150px" />
              <div class="flex flex-wrap justify-center">
                <div class="grow-0 shrink-0 basis-auto w-full lg:w-8/12 px-3">
                  <h5 class="text-lg font-bold mb-3">SUSHMITHA AGADI</h5>
                  <p class="font-medium text-gray-700 mb-4">Software Engineer</p>
                  <p class="text-gray-500 mb-6">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left"
                      class="w-6 pr-2 inline-block" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path fill="currentColor"
                        d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z">
                      </path>
                    </svg>“I wanted to express our appreciation for the excellent services that
                    First Citizens received from the CROSSSTONE in the civil consultation
                    of its new facility in HUBLI, IN. The project was extremely successful
                    and our personnel could not have been more pleased with their new
                    work environment".
                  </p>
                  <ul class="flex justify-center mb-0">
                    <li>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                    </li>
                    <li>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                    </li>
                    <li>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                    </li>
                    <li>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                    </li>
                    <li>
                      <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="star"
                        class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z">
                        </path>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="carousel-item relative float-left w-full">
              <img class="rounded-full shadow-lg mb-6 mx-auto"
                src="profile.jpg" alt="avatar" style="width: 150px" />
              <div class="flex flex-wrap justify-center">
                <div class="grow-0 shrink-0 basis-auto w-full lg:w-8/12 px-3">
                  <h5 class="text-lg font-bold mb-3">DILIP GOUDA</h5>
                  <p class="font-medium text-gray-700 mb-4">FOUNDER - TATVA CONSTRUCTIONS</p>
                  <p class="text-gray-500 mb-6">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left"
                      class="w-6 pr-2 inline-block" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path fill="currentColor"
                        d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z">
                      </path>
                    </svg>
                    “Our experience has been a very positive one. Working with a
                    management team that is accommodating and sensitive to our
                    needs. What a concept! Their professionalism shows in
                    management, quality of work and customer service".
                  </p>
                  <ul class="flex justify-center mb-0">
                    <li>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                    </li>
                    <li>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                    </li>
                    <li>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                    </li>
                    <li>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                    </li>
                    <li>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star-half-alt"
                        class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 536 512">
                        <path fill="currentColor"
                          d="M508.55 171.51L362.18 150.2 296.77 17.81C290.89 5.98 279.42 0 267.95 0c-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48C86.98 495.33 103.57 512 122.15 512c4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2l-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63-82.65 80.38z">
                        </path>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="carousel-item relative float-left w-full">
              <img class="rounded-full shadow-lg mb-6 mx-auto"
                src="profile.jpg" alt="avatar" style="width: 150px" />
              <div class="flex flex-wrap justify-center">
                <div class="grow-0 shrink-0 basis-auto w-full lg:w-8/12 px-3">
                  <h5 class="text-lg font-bold mb-3">Some Name</h5>
                  <p class="font-medium text-gray-700 mb-4">Some Profession</p>
                  <p class="text-gray-500 mb-6">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left"
                      class="w-6 pr-2 inline-block" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path fill="currentColor"
                        d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z">
                      </path>
                    </svg>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis tempora quis architecto consequatur sit, blanditiis optio mollitia labore tenetur repudiandae dicta saepe a ducimus exercitationem ratione nihil ipsa sed animi.
                  </p>
                  <ul class="flex justify-center mb-0">
                    <li>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                    </li>
                    <li>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                    </li>
                    <li>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                    </li>
                    <li>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                    </li>
                    <li>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
            type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
            type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    
      </section>
      <!-- Section: Design Block -->
    
    </div>
  </div>
    <!-- Container for demo purpose -->
    <section class="mb-4 mt-6 cust">
      <h2 class="why m-12" >About Us</span></h2>
    </section>
    <div class="container us" id="about-us"style="background-color: black; color: azure;margin-top: 5;">
      <!-- <div class="container-fluid d-flex flex-xl-row justify-content-xl-between flex-column"> -->

      <div class="row  ">
        <div class="col-md-8 about">
      <h3 class="mb-3" style="font-size: 1.5rem;margin-top: 7%;"><br>Our Colorful History<br></h3>
      <p class="about-p">The smallest details can make a real impact when it comes to designing a space, but only a true professional knows how to bring these details together to create a seamless design. That’s where CROSSSTONE comes in. As a renowned Civil consulting Engineers in market, we are experts in creating photorealistic 3D renderings and visualizations spanning residential, commercial or institutional buildings and construction. We are dedicated to helping each client fall in love with their revamped space. Get in touch to find out what best can we do for your design project.</p>
    </div>
<div class="col-md-4">
  <img class="about"src="nobgbluehat.png">
 
</div>
    </div>
    </div>



    <!-- how we work -->

<!------ Include the above in your HEAD tag ---------->



<section class="our-blog p-0 m-0 bg-silver">
  <div class="container work-process  pb-5 pt-5">
      <div class="title mb-5 text-center">
      <h3 style="font-size: 1.8rem">How we Work?</h3>
  </div>
      <!-- ============ step 1 =========== -->
      <div class="row">
          <div class="col-md-5">
              <div class="process-box process-left slide-in-left" data-aos="fade-right" data-aos-duration="1000">
                  <div class="row ">
                      <div class="col-md-5 ">
                          <div class="process-step">
                              <p class="m-0 p-0">Step</p>
                              <h2 class="m-0 p-0">01</h2>
                          </div>
                      </div>
                      <div class="col-md-7">
                          <h5>Contact Us</h5>
                          <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
                      </div>
                  </div>
                  <div class="process-line-l"></div>
              </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
              <div class="process-point-right"></div>
          </div>
      </div>
      <!-- ============ step 2 =========== -->
      <div class="row">
          
          <div class="col-md-5">
              <div class="process-point-left"></div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
              <div class="process-box process-right slide-in-right" data-aos="fade-left" data-aos-duration="1000">
                  <div class="row">
                      <div class="col-md-5">
                          <div class="process-step">
                              <p class="m-0 p-0">Step</p>
                              <h2 class="m-0 p-0">02</h2>
                          </div>
                      </div>
                      <div class="col-md-7">
                          <h5>Analysis</h5>
                          <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
                      </div>
                  </div>
                  <div class="process-line-r"></div>
              </div>
          </div>

      </div>
      <!-- ============ step 3 =========== -->
      <div class="row">
          <div class="col-md-5">
              <div class="process-box process-left slide-in-left" data-aos="fade-right" data-aos-duration="1000">
                  <div class="row">
                      <div class="col-md-5">
                          <div class="process-step">
                              <p class="m-0 p-0">Step</p>
                              <h2 class="m-0 p-0">03</h2>
                          </div>
                      </div>
                      <div class="col-md-7">
                          <h5>Planning & Designs</h5>
                          <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
                      </div>
                  </div>
                  <div class="process-line-l"></div>
              </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
              <div class="process-point-right"></div>
          </div>
      </div>
      <!-- ============ step 4 =========== -->
      <div class="row">
          <div class="col-md-5">
              <div class="process-point-left"></div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
              <div class="process-box process-right  slide-in-right" data-aos="fade-left" data-aos-duration="1000">
                  <div class="row">
                      <div class="col-md-5">
                          <div class="process-step">
                              <p class="m-0 p-0">Step</p>
                              <h2 class="m-0 p-0">04</h2>
                          </div>
                      </div>
                      <div class="col-md-7">
                          <h5>Advisory & Civil Consultation</h5>
                          <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
                      </div>
                  </div>
                  <div class="process-line-r"></div>
              </div>
          </div>
          
          
      </div>
      <!-- ============ step 3 =========== -->
      <div class="row">
          <div class="col-md-5">
              <div class="process-box process-left slide-in-left" data-aos="fade-right" data-aos-duration="1000">
                  <div class="row">
                      <div class="col-md-5">
                          <div class="process-step">
                              <p class="m-0 p-0">Step</p>
                              <h2 class="m-0 p-0">05</h2>
                          </div>
                      </div>
                      <div class="col-md-7">
                          <h5>Construction</h5>
                          <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
                      </div>
                  </div>
                  <div class="process-line-l"></div>
              </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
              <div class="process-point-right process-last"></div>
          </div>
      </div>
      <!-- ============ -->
  </div>
  <!-- 
project section -->
<!-- <div class="lightbox">
  <div class="row">
    <div class="col-lg-6">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/1.webp"
        data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp"
        alt="Table Full of Spices"
        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
      />
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Square/1.webp"
        data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Square/1.webp"
        alt="Coconut with Strawberries"
        class="w-100 shadow-1-strong rounded"
      />
    </div>
    <div class="col-lg-6">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Vertical/1.webp"
        data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Vertical/1.webp"
        alt="Dark Roast Iced Coffee"
        class="w-100 shadow-1-strong rounded"
      />
    </div>
  </div>
</div> -->
<!-- /////////////////////////////////////////////////// -->
<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="WhatsApp Image 2023-02-27 at 3.47.03 PM.jpeg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="WhatsApp Image 2023-02-27 at 3.47.04 PM (1).jpeg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="WhatsApp Image 2023-02-27 at 3.47.04 PM.jpeg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->
<section class="mb-4 mt-6 cust">
  <h2 class="why m-12">Our Projects</span></h2>

</section >


<div class="container" id="project">

  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="kitchen.jpeg" style="height: 300px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22349%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20349%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18698529a47%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18698529a47%22%3E%3Crect%20width%3D%22349%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22117.203125%22%20y%3D%22120.10000019073486%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
        <div class="card-body">
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          <!-- <div class="d-flex justify-content-between align-items-center"> -->
            <!-- <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div> -->
            <!-- <small class="text-muted">9 mins</small> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="hall.jpeg" style="height: 300px; width: 100%; display: block;">
        <div class="card-body">
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center"> -->
            <!-- <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div> -->
            <!-- <small class="text-muted">9 mins</small>
          </div> -->
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22349%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20349%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18698529a49%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18698529a49%22%3E%3Crect%20width%3D%22349%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22117.203125%22%20y%3D%22120.10000019073486%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div> -->

    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="hall2.jpeg"  style="height: 300px; width: 100%; display: block;">
        <div class="card-body">
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="cafev.jpeg" style="height: 300px; width: 100%; display: block;">
        <div class="card-body">
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="dining.jpeg" style="height: 300px; width: 100%; display: block;">
        <div class="card-body">
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div> -->
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="bedrooml.jpeg" style="height: 300px; width: 100%; display: block;">
        <div class="card-body">
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">

            <small class="text-muted">9 mins</small>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="cafel.jpeg"  style="height: 300px; width: 100%; display: block;">
        <div class="card-body">
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            
            <small class="text-muted">9 mins</small>
          </div> -->
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22349%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20349%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18698529a4d%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18698529a4d%22%3E%3Crect%20width%3D%22349%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22117.203125%22%20y%3D%22120.10000019073486%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="cafekit.jpeg"  style="height: 300px; width: 100%; display: block;">
        <div class="card-body">
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="house.jpeg" style="height: 300px; width: 100%; display: block;">
        <div class="card-body">
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="shelf.jpeg" style="height: 300px; width: 100%; display: block;">
        <div class="card-body">
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- contact us -->
</section>
<section class="mb-4 mt-6 cust">
  <h2 class="why m-12">Build ur project with us</span></h2>

</section >
<div class="row cont"id="contact-us" style="background-color: black; color: white;">
  <div class="col-md-5 last">
    <img class="cimg"src="logo (2).ico">
    <h3><b>Call us at +91-761-923-6463 /<br>
       +91-720-460-2829</b></h3>
    <h3>You Can also Reach us out at</h3>
    <a href="crossstone.official"><i class="fa-brands fa-instagram fa-2x ico"></i></a>
    <a href=""><i class="fa-brands fa-facebook fa-2x ico"></i></a>
    <a href=""><i class="fa-brands fa-twitter fa-2x ico"></i></a>
    <a href=""><i class="fa-brands fa-linkedin fa-2x ico"></i></a>
    
  </div>
  <div class="col-md-7 last">
    <form action="#" class="contact-form">
      <h5 class="title">Contact us</h5>
      <p class="description">Feel free to contact us if you need any assistance, any help or another question.
      </p>
      <div>
        <input type="text" class="form-control rounded border-white mb-3 form-input" id="name" placeholder="Name" required>
      </div>
      <div>
        <input type="email" class="form-control rounded border-white mb-3 form-input" placeholder="Email" required>
      </div>
      <div>
        <textarea id="message" class="form-control rounded border-white mb-3 form-text-area" rows="5" cols="30" placeholder="Message" required></textarea>
      </div>
      <div class="submit-button-wrapper">
        <input type="submit" value="Send">
      </div>
    </form>
   

  </div>
  <footer style="text-align: center; margin: 5% auto 0% auto;">&copy; Copyright 2023 CROSSSTONE</footer>
</div>









</body>
</html>