<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="bootstrap.bundle.min.js / bootstrap.bundle.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/de2e58e297.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="dash.css">
</head>
<body>
  <!-- Navbar -->
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-1 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="logo (2).ico" height="80" width="120">
            </a>
    <ul class="nav nav-pills">
            <li class="nav-item py-3 mr-2">Username</li>
            <li class="nav-item"><img src="profile.jpg" height="50" width="50"></li>
          </ul>
        </header>
      </div >
      <div class="head py-5">
      <h3 style="text-align:center;font-weight: bold" class="px-5";>Mobilisations</h3>
    </div>
    <div class="lightbox ">
        <div class="row">
          <div class="col-lg-4 rectangle sml">
            <div data-bs-toggle="modal" data-bs-target="#exampleModal">
           
            <p><i class="fa-solid fa-brush fa-2x"></i>Cleaning, Levelling,<br>surface preparation
              and <br>
              Boundary line marking</p>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Checks</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="lightbox ">
                            <div class="row">
                              <div class="col-lg-4 rectangle">
                                <p><i class="fa-solid fa-check-to-slot fa-2x
                                  "></i>PCC</p>
                              </div>
                              <div class="col-lg-4 rectangle sml">
                                <p><i class="fa-solid fa-circle-info fa-2x"></i>Footing reienforcement,<br>shuttering and concreting <br>or Footing casting</p>
                              </div>
                              <div class="col-lg-4 rectangle">
                                <p><i class="fa-solid fa-bars fa-2x"></i>Back filling and <br>Plinth beam concreting</p>
                              </div>
                              <div class="col-lg-4 rectangle">
                                <p><i class="fa-solid fa-check-to-slot fa-2x
                                  "></i>PCC</p>
                              </div>
                            </div>
                          </div>
                    </div>
                    <!-- <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div> -->
                  </div>
                </div>
              </div>
          </div>
          <div class="col-lg-4 rectangle ">
            <p class="np"><i class="fa-solid fa-pen-to-square fa-2x"></i>Marking for Footings,<br>columns and sump</p>
          </div>
          <div class="col-lg-4 rectangle">
            <p class="np"><i class="fa-solid fa-person-digging fa-2x"></i>Exacavation of Footing <br>and sump
            </p>
          </div>
        </div>
      </div>
      <div class="lightbox ">
        <div class="row">
          <div class="col-lg-4 rectangle">
            <p><i class="fa-solid fa-check-to-slot fa-2x
              "></i>PCC</p>
          </div>
          <div class="col-lg-4 rectangle sml">
            <p><i class="fa-solid fa-circle-info fa-2x"></i>Footing reienforcement,<br>shuttering and concreting <br>or Footing casting</p>
          </div>
          <div class="col-lg-4 rectangle">
            <p><i class="fa-solid fa-bars fa-2x"></i>Back filling and <br>Plinth beam concreting</p>
          </div>
        </div>
      </div>
      <div class="lightbox ">
        <div class="row">
          <div class="col-lg-4 rectangle">
            <p><i class="fa-solid fa-building fa-2x"></i>Ground floor coloumn <br>casting and  Block work<br> upto lintel level 
            </p>
          </div>
          <div class="col-lg-4 rectangle">
            <p><i class="fa-solid fa-stairs fa-2x"></i>Staircase and Ground <br>floor blockwork above<br> lintel level 
            </p>
          </div>
          <div class="col-lg-4 rectangle">
            <p><i class="fa-solid fa-person-shelter fa-2x"></i>Ground floor roof <br>slab concreting </p>
          </div>
        </div>
      </div>
      <div class="lightbox ">
        <div class="row">
          <div class="col-lg-4 rectangle">
            <p><i class="fa-solid fa-receipt fa-2x"></i>First floor Coloumn and <br>Blockwork upto lintel level
            </p>
          </div>
          <div class="col-lg-4 rectangle">
            <p><i class="fa-sharp fa-solid fa-building fa-2x"></i>Staircase and  First floor<br> blockwork above lintel level 
            </p>
          </div>
          <div class="col-lg-4 rectangle">
            <p><i class="fa-solid fa-people-roof fa-2x"></i>First floor roof slab <br> concrete </p>
          </div>
        </div>
      </div>
      <div class="lightbox ">
        <div class="row">
          <div class="col-lg-4 rectangle">
            <p><i class="fa-sharp fa-solid fa-building fa-2x"></i>Staircase Headroom <br>blockwork and slab concrete 
            </p>
          </div>
          <div class="col-lg-4 rectangle">
            <p><i class="fa-solid fa-lightbulb fa-2x"></i>Ground floor Electrical <br>conduiting and Internal plumbing 
            </p>
          </div>
          <div class="col-lg-4 rectangle">
            <p><i class="fa-solid fa-bath fa-2x"></i>First floor Electrical<br> conduiting and Internal plumbing 
            </p>
          </div>
        </div>
      </div>
      <div class="lightbox ">
        <div class="row">
          <div class="col-lg-4 rectangle">
            <p><i class="fa-solid fa-door-open fa-2x"></i>Supply and fixing of<br> Door frame and window grill
            </p>
          </div>
          <div class="col-lg-4 rectangle">
            <p><i class="fa-solid fa-door-open fa-2x"></i>First floor Internal plastering 

            </p>
          </div>
          <div class="col-lg-4 rectangle sml">
            <p><i class="fa-solid fa-spray-can fa-2x"></i>Ground floor Internal plastering 
            </p>
          </div>
        </div>
      </div>
      <div class="lightbox ">
        <div class="row">
          <div class="col-lg-4 rectangle sml">
            <p><i class="fa-solid fa-hat-wizard fa-2x"></i>External plastering </p>
          </div>
          <div class="col-lg-4 rectangle sml">
            <p><i class="fa-sharp fa-solid fa-house-chimney fa-2x"></i>First floor Internal two putty 
            </p>
          </div>
          <div class="col-lg-4 rectangle sml">
            <p><i class="fa-solid fa-house-tsunami fa-2x"></i>Ground floor Internal two Putty 
            </p>
          </div>
        </div>
      </div>
      <div class="lightbox ">
        <div class="row">
          <div class="col-lg-4 rectangle sml">
            <p><i class="fa-sharp fa-solid fa-bath fa-2x"></i>Supply and fixing of <br>external plumbing 
            </p>
          </div>
          <div class="col-lg-4 rectangle">
            <p><i class="fa-regular fa-square fa-2x"></i>First floor Tile flooring 
            </p>
          </div>
          <div class="col-lg-4 rectangle sml">
            <p><i class="fa-sharp fa-solid fa-square-check fa-2x"></i>Ground floor Tile flooring 
            </p>
          </div>
        </div>
      </div>
      <div class="lightbox ">
        <div class="row">
          <div class="col-lg-4 rectangle sml">
            <p><i class="fa-solid fa-paint-roller fa-2x"></i>Internal primer and one<br> coat paint </p>
          </div>
          <div class="col-lg-4 rectangle">
            <p><i class="fa-solid fa-window-restore fa-2x"></i>Supply and fixing of <br>door shutter and windows</p>
          </div>
          <div class="col-lg-4 rectangle">
            <p><i class="fa-solid fa-fill fa-2x"></i>External Primer and<br> one coat paint 
            </p>
          </div>
        </div>
      </div>
      <div class="lightbox ">
        <div class="row">
          <div class="col-lg-4 rectangle">
            <p><i class="fa-solid fa-plug fa-2x"></i>Supply and fixing of <br>Electical wiring and <br>fixtures 
            </p>
          </div>
          <div class="col-lg-4 rectangle">
            <p><i class="fa-solid fa-wrench fa-2x"></i>Supply and fixing of <br>CP fitting 
            </p>
          </div>
          <div class="col-lg-4 rectangle">
            <p> <i class="fa-solid fa-paint-roller fa-2x "></i>Internal final coat paint 
            </p>
          </div>
        </div>
      </div>
      <div class="lightbox ">
        <div class="row">
          <div class="col-lg-4 rectangle sml">
            <p><i class="fa-solid fa-brush fa-2x"></i>External Final coat paint 
            </p>
          </div>
          <div class="col-lg-4 rectangle sml">
            <p><i class="fa-solid fa-house-lock fa-2x"></i>Cleaning and Handover
            </p>
          </div>
          <!-- <div class="col-lg-4 rectangle sml">
            
          </div>
        </div>
      </div> -->
      
</body>
</html>